= render 'admin/shared/side_menu'

%h1
  = t('campaigns')

%table.index
  %thead
    %tr
      - hook :admin_campaigns_index_headers do
        %th
          = t('campaign.name')
        %th
          = t('campaign.subject')
        %th
          = t('campaign.total_recipients')
        %th
          = t('campaign.sent_date')
        %th
          = t('campaign.send_campaign')
  %tbody
    - @campaigns.each do |campaign|
      %tr{:id => "#{dom_id campaign}"}
        - locals = {:campaign_monitor => campaign}
        - hook :admin_campaigns_index_rows, locals do
          %td
            = campaign.name
          %td
            = campaign.subject
          %td
            = campaign.total_recipients
          %td
            = campaign.sent_date
          %td
            = link_to_remote t('campaign.sending_campaign', :name => campaign.name ), :url => { :action => 'invoke', :id => campaign.id }, :complete => '$(this).parent.insert("done");$(this).parent.show();'
              
