- locals = {:f => f}
- hook :admin_campaign_monitor_form_fields, locals do
  - CampaignMonitor.form_fields.each do |attr|
    - f.field_container attr do
      = f.label attr, t("campaign_monitor.#{attr.to_s}")
      %br
      - case attr
      - when :active
        = f.check_box attr
      - when :list_id
        hallo
      - else
        = f.text_field attr
        
- hook :admin_campaign_monitor_show_form_buttons do
  %p
    = t('campaign_monitor.update_hint')