= render :partial => 'admin/shared/configuration_menu'

%h1
  = t('campaign_monitor.title')

%table.index
  %thead
    %tr
      - hook :admin_campaign_monitors_index_headers do
        %th= t("campaign_monitor.name")
        %th= t("campaign_monitor.api_key")
      %th
        - hook :admin_campaign_monitor_index_header_actions
  %tbody
    - campaign_monitor = CampaignMonitor.find(:first) || CampaignMonitor.new
    %tr{:id => "#{dom_id campaign_monitor}"}
      - locals = {:campaign_monitor => campaign_monitor}
      - hook :admin_campaign_monitors_index_rows, locals do
        %td
          = campaign_monitor.name
        %td
          = campaign_monitor.api_key

      %td{:width => "140px"}
        - hook :admin_campaign_monitors_index_row_actions, locals do
          - if campaign_monitor.id
            = link_to_edit campaign_monitor
          - else
            = link_to t('add'), new_object_url
          - if campaign_monitor.id
            %br
            = link_to_delete campaign_monitor


- if defined_campaign_monitor
  %h1
    = t('campaign_monitor.available_campaign_lists')

  %table.index
    %thead
      %tr
        %th
          = t('campaign_list.name')
        %th
          = t('campaign_list.id')
    %tbody
      - campaign_monitor.campaign_lists.each do |list|
        %tr
          %td
            = list.name
          %td
            = list.id

  %p
    = t('campaign_list.hint')
  %p
    = link_to t('campaign_monitor.update_everything'), :url => { :action => 'update_campaign_monitor', :id => CampaignMonitor.find(:first).id }