= render :partial => 'admin/shared/configuration_menu'

%h1
  = t('campaign_monitor.title')

%table.index
  %thead
    %tr
      - hook :admin_campaign_monitors_index_headers do
        %th= t("campaign_monitor.name")
        %th= t("campaign_monitor.api_key")
      %th
        - hook :admin_campaign_monitor_index_header_actions
  %tbody
    - campaign_monitor = CampaignMonitor.find(:first) || CampaignMonitor.new
    %tr{:id => "#{dom_id campaign_monitor}"}
      - locals = {:campaign_monitor => campaign_monitor}
      - hook :admin_campaign_monitors_index_rows, locals do
        %td
          = campaign_monitor.name
        %td
          = campaign_monitor.api_key

      %td{:width => "140px"}
        - hook :admin_campaign_monitors_index_row_actions, locals do
          - if campaign_monitor.id
            = link_to_edit campaign_monitor
          - else
            = link_to t('add'), new_object_url
          - if campaign_monitor.id
            %br
            = link_to_delete campaign_monitor


  