= render 'admin/shared/side_menu'

%h1
  = t('newsletter_subscription.admin.title')

= link_to t('newsletter_subscription.admin.download_as_csv'), admin_download_as_csv_path

%br
%br

%table
  %thead
    %tr
      %th
        = t('first_name')
      %th
        = t('last_name')
      %th
        = t('email')
      %th
        = t('contact_form.company')
      %th
        = t('address')
      %th
        = t('contact_form.post_code_city')
      %th
        = t('phone')
      %th
        = t('contact_form.fax')
      %th
        = t('campaign_monitor.campaign_list')
      %th
        = t('active')
      %th

        
  %tbody
    - if subscriptions = @newsletter_subscriptions
      - subscriptions.each do |entry|
      %tr{:id => "newsletter_subscriptions_entry_#{entry.id}", :class => "campaign_monitor_list_#{entry.campaign_list.name}"}
        %td
          = entry.first_name
        %td
          = entry.last_name
        %td
          = entry.email
        %td
          - unless entry.imported
            = entry.company
        %td
          - unless entry.imported
            = entry.address
        %td
          - unless entry.imported
            = entry.post_code + " " + entry.city
        %td
          - unless entry.imported
            = entry.phone
        %td
          - unless entry.imported
            = entry.fax
        %td
          = entry.campaign_list.name
        %td.active
          = entry.active
        %td.toggle
          .add{:style => entry.active ? "" : "display:none;"}
            /= toggle_link entry, :add
          .delete{:style => entry.active ? "display:none;" : ""}
            /= toggle_link entry, :delete